// Colour Scheme
$darkest: #023047;
$darkBlue: #1b4965;
$blue: #5fa8d3;
$teal: #62b6cb;
$lightTeal: #bee9e8;
$lightest: #cae9ff;
$orangePeel: #fd9e02;
$yellowHoney: #ffb703;

html {
  color: white;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

body {
  background-image: url(../assets/photoholgic-puv_ifAUCN4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

h2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
a:hover {
  color: $yellowHoney;
}

button {
  text-align: center;
  font-size: 1.5rem;
  width: 15vw;
  border: 2px solid $orangePeel;
  border-radius: 5px;
  padding: 0.6rem;
  background-color: #02304720;
  color: white;
  font-family: "Nunito", sans-serif;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #ffb70360;
  cursor: pointer;
}

.button {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  width: 15vw;
  border: 2px solid $orangePeel;
  border-radius: 5px;
  padding: 0.6rem;
  background-color: #02304720;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: #ffb70360;
}

.option {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  width: 6vw;
  margin: 0.3rem;
  border: 2px solid $orangePeel;
  border-radius: 5px;
  background-color: #02304720;
  transition: all 0.5s ease;
}

.option:hover {
  background-color: #ffb70360;
  cursor: pointer;
}

.label {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.active {
  background-color: #ffb70360;
}

.inActive {
  background-color: #02304720;
}

::placeholder {
  color: whitesmoke;
  opacity: 1;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

:-ms-input-placeholder {
  color: whitesmoke;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

::-ms-input-placeholder {
  color: whitesmoke;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.none {
  display: none;
}
