.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02304750;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 4vh;
    h3 {
        margin-bottom: 5rem;
    }
}