header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    img {
        width: 30%;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        
        li {
            margin: 1rem;
        }
    }
}